:root {
--primary-color: #0077b6; /*forest green*/
--secondary-color: #00b4d8; /*warm sand*/
--accent1-color: #90e0ef; /*dark slate blue*/
--accent2-color: #caf0f8; /*light golden yellow*/
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: "Arial", "Helvetica", sans-serif;
}
* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
}

.map-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.map-section {
    width: 400px;
    height: 300px;
    border: 0;
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    flex: 1 1 auto;
}

nav ul.navigation {
    display: flex;
    list-style: none;
}

nav ul.navigation li {
    flex: 1 1 auto;
}

.adventures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.adventures img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

team-profiles {
    display: flex;
    gap: 10px; /* space between photos */
}

team-profiles img {
    width: 200px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-top: 20px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    text-decoration: none;
    display: inline-block;
}

.social-media img {
    width: 40px;
    height: 40px;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
   position: absolute; 
   top: 20px;
   width: 100%;
   padding: 16px;
   text-align: center;
   opacity: 0.7;
   background-color: var(--accent1-color);
   color: #fff; /* white text - make sure there is enough contrast with the background-color*/
}
.hero article img {
    float: right;
    width: 125px;
}